/**
    * @author _ Pathum_Kaleesha 2022-07-23 - 23.10 
    * @since - v0.1.0
**/
#sidebar{
    background: #0dcaf0 !important;
    min-width: 100px;
    width: 20vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top:11%;
    transition: all 0.4s;
}
.nav-item:hover {
    background: white;
}.nav-itemMg{
    margin-top: 5%;
}
 /*---------------------------------------*/

/*mange table car*/
#manageCarTableContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 70px;
    left: 17vw;
    background: gray !important;
}
#manageCarDetails{
    position: absolute;
    right: 2vw;
    bottom: 5vh;
    width: 20%;
}
/*mange Customer*/
#manageUserTable{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 70px;
    left: 17vw;
    background: gray !important;
}
/*manage driver*/
#manageDriverContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 70px;
    left: 17vw;
    background: gray !important;
}
#sec1Driver{
    position: absolute;
    left: 8%;
}
#sec2Driver{
    position: absolute;
    left: 37%;
}
#sec3Driver{
    position: absolute;
    left: 69%;
}
#manageDriverTable{
    position: absolute;
    top: 50%;
    left: 10%;
}
