/**
    * @author _ Pathum_Kaleesha 2022-07-23 - 23.10 
    * @since - v0.1.0
**/
#sidebar{
    background: #0dcaf0 !important;
    min-width: 100px;
    width: 20vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top:11%;
    transition: all 0.4s;
}
.nav-item:hover {
    background: white;
}.nav-itemMg{
    margin-top: 5%;
}
