/**
    * @author _ Pathum_Kaleesha
    * @since - v0.1.0
**/

#carContent{

}
.car{
    height: 80vh;
    margin-top: 53%;
}
.car1D{
    background: #3dd5f3;
}
#car1{
    position: absolute;
    margin-left: 2%;


}
#car2{
    position: absolute;
    margin-left: 27%;

}
#car3{
    position: absolute;
    display: flex;
    margin-left: 52%;

}#car4{
    position: absolute;
    margin-left: 77%;

}
.rentCarBtn{
    position: absolute;
    left: 25%;
    background: yellow;
    animation-name: rentNow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.carImg{
    width: 18rem;
    height: 200px;
}
#carTittle{
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: 10%;
    color: white;
}

